.header {
  margin: 0 0 32px;
  padding: 24px 0;

  @include vp-767 {
    margin: 0;
  }

  &__wrapper {
    display: flex;
    align-items: center;
    gap: 80px;

    @include vp-1278 {
      gap: 40px;
    }

    @include vp-767 {
      justify-content: flex-end;
      gap: 20px;
    }
  }

  &__logo-link {
    @include vp-767 {
      margin: 0 auto 0 0;
      justify-self: start;
    }
  }

  &__btn {
    font-size: 24px;
    line-height: 32px;
    transition: color $transition-300;

    @include hover-focus {
      outline: none;
      color: $color-perano;
    }

    @include vp-1278 {
      font-size: 20px;
      line-height: 28px;
    }

    @include vp-767 {
      display: none;
    }

    &--mobile {
      display: none;
      
      @include vp-767 {
        display: flex;
      }
    }
  }
}