.app-wrapper {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  
  &--shadow {
    position: relative;

    &::before {
      content: "";
      position: fixed;
      top: 0;
      left: 0;
      display: block;
      width: 100vw;
      height: 100vh;
      background-color: rgba($color-default-black, 0.5);
      z-index: 20;
    }
  }
}