.header {
  margin: 0 0 32px;
  padding: 24px 0;

  &__wrapper {
    display: flex;
    align-items: center;
    gap: 80px;
  }

  &__btn {
    font-size: 24px;
    line-height: 32px;
    transition: color $transition-300;

    @include hover-focus {
      outline: none;
      color: $color-magenta;
    }
  }
}