.user-form {
  display: flex;
  flex-direction: column;
  gap: 12px;
  min-width: 340px;

  &__input {
    padding: 16px 16px 16px 52px;
    color: $color-default-black;
    border: 1px solid rgba($color-default-black, 0.4);
    background-color: $color-transparent;

    &::placeholder {
      opacity: 0.4;
    }
  }

  &__icon {
    color: $color-default-black;
    opacity: 0.4;
  }

  &__submit {
    margin: 12px 0 0;
  }

  &__error {
    max-width: 340px;
    color: $color-salmon;
  }
}