.genres {
  padding: 32px 0 0;

  &__wrapper {
    display: flex;
    flex-direction: column;
    gap: 64px;

    @media (max-width: 517px) {
      gap: 40px;
    }
  }

  &__title {
    margin: 0;
    font-size: 48px;
    line-height: 56px;

    @media (max-width: 517px) {
      font-size: 24px;
      line-height: 32px;
    }
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 64px 40px;

    @media (max-width: 1217px) {
      gap: 40px 20px;
    }

    @include vp-1023 {
      grid-template-columns: repeat(3, 1fr);
    }

    @include vp-767 {
      grid-template-columns: repeat(2, 1fr);
    }

    @media (max-width: 517px) {
      grid-template-columns: 1fr;
      gap: 24px;
    }
  }

  &__card {
    display: flex;
    flex-direction: column;
    border-radius: 24px;
    border: 1px solid rgba($color-default-white, 0.25);
    overflow: hidden;
    box-shadow: 0px 0px 80px 0px rgba($color-default-white, 0.33);
    transition: box-shadow $transition-300;

    @include hover-focus {
      box-shadow: 0px 0px 80px rgba($color-magenta, 0.33);
    }
  }

  &__image {
    width: 100%;
    height: 220px;
    background-color: $color-dim-gray;
  }

  &__subtitle {
    display: flex;
    justify-content: center;
    padding: 22px 10px 30px;
    width: 100%;
    font-size: 24px;
    font-weight: 700;
    line-height: 32px;
    text-align: center;
    background-color: $color-dark-green;

    @media (max-width: 1157px) {
      font-size: 20px;
      line-height: 28px;
    }

    @media (max-width: 517px) {
      font-size: 24px;
      line-height: 32px;
    }
  }
}