.modal {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  padding: 64px 40px 34px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: max-content;
  background-color: $color-default-white;
  border-radius: 24px;
  z-index: 10;

  &__close {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    right: -72px;
    width: 48px;
    height: 48px;
    background-color: $color-default-white;
    border-radius: 50%;

    &-line {
      display: block;
      width: 26px;
      height: 2px;
      background-color: $color-default-black;
      transform: rotate(45deg);

      &::after {
        content: "";
        display: block;
        width: inherit;
        height: inherit;
        background-color: inherit;
        transform: rotate(90deg);
      }
    }
  }

  &__logo {
    margin: 0 0 16px;
  }

  &__form {
    display: flex;
    flex-direction: column;
    gap: 24px;
    align-items: center;
  }

  &__successfully {
    display: flex;
    flex-direction: column;
    gap: 24px;
    align-items: center;
    max-width: 340px;
  }

  &__title {
    margin: 0;
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    color: $color-default-black;
    text-align: center;
  }

  &__text {
    margin: 0;
    color: $color-default-black;
    max-width: 80%;
    text-align: center;
  }

  &__btn {
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
    color: $color-default-black;

    &--successfuly {
      width: 100%;
      color: $color-default-white;
    }
  }
}