@font-face {
  font-weight: 400;
  font-family: 'Play';
  font-style: normal;
  src: url('@/assets/fonts/PlayRegular.woff2') format('woff2');
  font-display: auto;
}

@font-face {
  font-weight: 700;
  font-family: 'Play';
  font-style: normal;
  src: url('@/assets/fonts/PlayBold.woff2') format('woff2');
  font-display: auto;
}

@font-face {
  font-weight: 700;
  font-family: 'Open';
  font-style: normal;
  src: url('@/assets/fonts/OpenSansBold.woff2') format('woff2');
  font-display: auto;
}
