.genre {
  padding: 32px 0 0;

  &__wrapper {
    display: flex;
    flex-direction: column;
    gap: 64px;

    @media (max-width: 794px) {
      gap: 40px;
    }
  }

  &__title {
    display: flex;
    align-items: center;
    gap: 17px;
    width: max-content;
    transition: color $transition-300;
    z-index: 50;

    @include hover-focus {
      outline: none;
      color: $color-perano;
    }
  }

  &__title-icon {
    width: 13px;
    height: 21px;

    @media (max-width: 794px) {
      width: 10px;
      height: 17px;
    }
  }

  &__title-text {
    font-weight: 700;
    font-size: 48px;
    line-height: 56px;

    @media (max-width: 794px) {
      font-size: 32px;
      line-height: 40px;
    }
  }

  &__btn {
    align-self: center;
    width: 218px;
  }
}